<div class="main posts-index">
  <div class="container">
    <div class="posts-navigation">
      <h1 class="title">Posts Explorer</h1>
      <a href="/posts" class="following-posts-link">Back to Following Posts →</a>
    </div>
    <%- include('../_timeline', {timeline: timeline}); %> 
  </div>
</div>
